body {
    margin: 0;
}

.app {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../images/back.svg");
        background-size: cover;
        height: 100vh;

        .jeremy-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: top;
            align-items: center;
            background-color: rgba(255, 255, 255, .4);
            border-radius: 10px;;
            backdrop-filter: blur(8px);
            border: solid 1px lightgray;
            padding: 50px 100px;
            box-sizing: border-box;
            min-height: 456px;

            .photo {
                width: 12vw;
            }

            .name {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 2rem;
                color: white;

                margin-top: 10px;
            }

            .description {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                color: white;                
            }

            .qualities {
                margin-top: 35px;

                display: grid;
                grid-template-rows: 42px 42px;
                grid-template-columns: repeat(6, 42px);
                gap: 2px;
            }

            .icon {
                img {
                    width: 32px;
                }                    
            }
            
            .header {
                position: absolute;
                top: 0;
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}